<h1>Reverse Complementor</h1>

<p>
  <form method="GET" action=".">
    <b>Enter a sequence to complement:</b>
    <input type="text" name="query"
        {% if query_string %}value="{{query_string}}"{% endif %}>
  </form>
</p>

{% if error %}
<p>{{ error }}</p>
{% endif %}

{% if reverse_complement %}
  <p>
    <b>Reverse Complement</b>: {{reverse_complement}}
  </p>

  <p style="font-family: monospace,Courier">
  	<span>mRNA strand: {{ transcribed }}</span></br>
  	<span>Amino acids:  {{ translation }}</span>
  </p>
{% endif %}
